3c391_ctm_mosaic_10s_spw0.ms
3c391_ctm_mosaic_10s_spw0.antpos
3c391_ctm_mosaic_10s_spw0.ms.flagversions
3c391_ctm_mosaic_10s_spw0.G0all/
3c391_ctm_mosaic_10s_spw0.K0/
3c391_ctm_mosaic_10s_spw0.G0/
3c391_ctm_mosaic_10s_spw0.B0/
3c391_ctm_mosaic_10s_spw0.G1/
3c391_ctm_mosaic_10s_spw0.fluxscale1/
3c391_ctm_mosaic_spw0_output.ms
part5-question2_initial*
MeLoveSomeMosaicPleaseMakeThisForMeDearCasa*
precal.*
*.last
plotms.last
*.nfs*

